{% extends "base.html" %}
{% block title %} all courses {% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/allCourses.css">
<ul class="all-courses">
  {% for course in courses %}
    <li>
      <div class="vote">
        <i class="fas fa-arrow-up"></i>
        <span class="count">{{ course.votes }}</span>
        <i class="fas fa-arrow-down"></i>
      </div>
      <div class="container">
        <h3>{{ course.title }}</h3>
        <p>{{ course.description }}</p>
        <a href="/id/{{course.id}}">link</a>
      </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}