{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/course.css">
  <h3>{{ course.title }}</h3>
  <p>{{ course.description }}</p>
  {% comment %} {% if "by-weeks" == "By-weeks" %}
    33
  
  {% elif "by-weeks" == "by-weeks" %}
    44
  {% else %}
    55
  {% endif %} {% endcomment %}
  <ul class="files">
    {% for file in course.files %}
    <li>
      <a href='{{ file }}'><i class="fas fa-file file-icon"></i> {{ file }} </a>
    </li>
    {% endfor %}
  </ul>
  <a href="/all">all courses</a>


  <script>
    console.log("x")
  </script>
{% endblock %}
